*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.mx-auto > .nav-item > .nav-link , .logo {
  color: aliceblue;
}
.nav-bar-secondary > .nav-item > .nav-link {
  color: black;
}
.nav-bar-secondary > .nav-item > .nav-link{
  border-left: 0.5px solid gray;
  height: 30px;
}

.logo{
  font-weight:bolder;
  font-size: 20px;
  padding: 4px;
}

#toogle-btn{
  justify-self: flex-start !important;
}

.post-img-small{
  height: 200px;
  width: 100%;
}

.bold-heading{
  font-weight: 700;
}